td{
    border: 1px solid rgb(255, 0, 0);
    padding: 2px;
    text-align: center;
    background-color: rgb(15, 140, 243);
    border: 2px;
    color: rgb(0, 0, 0);
}

th{
    border: 1px solid rgb(47, 68, 255);
    padding: 2px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(10, 133, 204);
}
table{
    background-color: rgb(19, 7, 131);
    
}
body{
    background-color: rgb(34, 76, 192);
}